
doctype html
html
	head
		title Not Found
		link( rel = "stylesheet", type = "text/css", href = "/css/app.css" )/
	body
		h1.
			Not Found
		p.
			The page you are looking for could not be found. Try going back to the
			#[a( href = "/" ) home page].
