extends ../../layouts/security

block content
	
	h1= title

	if errorMessage
		p.error.
			#[strong Sorry]: #{ errorMessage }
	
	form( method = "POST", action = "/sign-up" )
	
		p.
			Please select your login username.

		label.
			#[strong Username]:
		| 
		input( name = "username", size="20", autofocus )
		| 
		button( type = "submit" ) Sign-up

	hr
	p.
		Already have an account? #[a( href = "/login" ) Back to login].
		